.card-footer {
    padding: .75rem 1.25rem;
    background-color:#fff;
    border: none !important;
}
.myArtical{
    margin-top: 10px;
}
.cursor{
    cursor: pointer;
}
.fa-folder-plus, .fa-react
{
    font-size: 35px;
    /*color: #007bff !important;*/
    margin-bottom: 0px;
    display: block;
}
.leftTrace{
    float: right;
}
.footerTxt .primary{
    color: #007bff !important;
}
.container {
    margin-top:  10px !important;
}
.footerTxt .primary {
    color: #007bff !important;
    font-weight: bold;
    /* text-decoration: underline; */

}
.issueStatusDetail{
    border-top: 1px solid #d8dadc!important;
}
.issueStatusDetail Form{
    margin: 15px;
}
.issueStatusDetail .updationBox{
    margin: 0px;
}
.issueStatusDetail Button{
   margin: 0px 0px;
    float: right;
    margin-bottom: 15px;
}
.issueStatusDetail small{
    margin: 6px 3px;
    /* font-weight: bold; */
    display: inline-block;
}
.issueStatusDetail small, .issueStatusDetailtxt, .issueStatusDetailBtn{
    font-size: 75% !important;
}
.updatedWrap{
    background-color: #fff !important;
    border-top: 1px solid #d8dadc!important;
}
.updatedWrap .footer{

}
.issueLock{
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 25px;
   
}
.recLock{color: #721c24;}

.greenLock{color: #155724;}
.radioWrap
{position: relative;
top: 2px;
left: 12px;
}