.card-footer {
    padding: 0.35rem 1.25rem !important;
    background-color: rgba(216, 218, 220, 0.2) !important;
    border: none !important;
}
.myArtical{
    margin-top: 10px;
}
.cursor{
    cursor: pointer;
}

.leftTrace{
    float: right;
}
.footerTxt .primary{
    color: #007bff !important;
}
.container {
    margin-top:  10px !important;
}
.footerTxt .primary {
    color: #007bff !important;
    font-weight: bold;
    /* text-decoration: underline; */

}
.issueStatusDetail{
    border-top: 1px solid #d8dadc!important;
}
.issueStatusDetail Form{
    margin: 15px;
}
.issueStatusDetail .updationBox{
    margin: 0px;
}
.issueStatusDetail Button{
   margin: 0px 0px;
    float: right;
    margin-bottom: 15px;
}
.issueStatusDetail small{
    margin: 6px 3px;
    /* font-weight: bold; */
    display: inline-block;
}
.issueStatusDetail small, .issueStatusDetailtxt, .issueStatusDetailBtn{
    font-size: 75% !important;
}
.updatedWrap{
    background-color: #fff !important;
    border-top: 1px solid #d8dadc!important;
}
.updatedWrap .footer{

}
.issueLock{
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 25px;
   
}
.recLock{color: #721c24;}

.greenLock{color: #155724;}
.radioWrap
{position: relative;
top: 2px;
left: 12px;
}
.cardWrap{
    padding: 10px;
    background-color: #dbdcde;
    border: 1px solid #cecece !important;
    border-bottom: none !important;
}
.newBtn {
    margin-left: 6px;
    margin-right: 6px;
}
.listItm{
    max-height: 800px;
    overflow: auto;
}
.padding_0{
    padding: 0px !important;
}
.addArticaleBtn{
    width: 100%;
    margin-bottom: 2px;
}