.card-footer {
    padding: .75rem 1.25rem;
    background-color:#fff;
    border: none !important;
}
.myArtical{
    margin-top: 10px;
}
.cursor{
    cursor: pointer;
}
.fa-folder-plus, .fa-react
{
    font-size: 35px;
    /*color: #007bff !important;*/
    margin-bottom: 0px;
}
.leftTrace{
    float: right;
}
.footerTxt .primary{
    color: #007bff !important;
}
.container {
    margin-top:  10px !important;
}
.footerTxt .primary {
    color: #007bff !important;
    font-weight: bold;
    /* text-decoration: underline; */
}